<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=FP_SAMPLE;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PayrollSystem.Data.Properties.Settings.FP_SAMPLEConnectionString"
      connectionString="Data Source=moosag-w8-lp;Initial Catalog=FP_SAMPLE;Persist Security Info=True;User ID=sa;Password=nV1si0n"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
